{%- assign search_page = site.search_pages | where: "permalink", include.category_permalink | first -%}
{% if include.title %} <p style="text-align: center;"><b>{{ include.title }}</b></p>{% endif %}

<div class="product-grid product-row {%- if include.half-width %} product-grid__half{%endif%}">
    {% if include.product1 && include.product2 && include.product3 && include.product4 %}
        {% assign product1data = include.product1 | get_product %}
        {% include partial/product-link.html category_permalink=include.category_permalink product=product1data %}

        {% assign product2data = include.product2 | get_product %}
        {% include partial/product-link.html category_permalink=include.category_permalink product=product2data %}

        {% assign product3data = include.product3 | get_product %}
        {% include partial/product-link.html category_permalink=include.category_permalink product=product3data %}

        {% assign product4data = include.product4 | get_product %}
        {% include partial/product-link.html category_permalink=include.category_permalink product=product4data %}
    {% else %}
        {% for product in search_page.page1results | limit: 4 %}
            {% include partial/product-link.html category_permalink=include.category_permalink product=product %}
        {% endfor %}
    {% endif %}
</div>

{% if include.linktext %}
<br>
<p style="text-align: center;"><b><a class="plain" href="/{{ include.category_permalink }}">{{ include.linktext }}</a></b></p>
{% endif %}