{%- comment -%}
    Generating the category filter
{%- endcomment -%}

{%- comment -%} Default values if empty {%- endcomment -%}
{%- assign query_string = "" -%}
{%- assign has_value_class = "" -%}
{%- assign clear_url = "" -%}
{%- assign value = '' -%}

{%- if category.name != site.data.default_category.name -%}

    {%- comment -%} If filter isnt empty, replace the default values {%- endcomment -%}
    {%- include partial/get-filter-page.html key='"category"' old_value=page.filter_object.category new_value=site.data.default_category.name filter=page.filter -%}
    {%- assign has_value_class = "has-value" -%}
    {%- assign clear_url = filter_page.permalink -%}
    {%- assign value = category.name -%}

{%- else -%}

    {%- comment -%}
        Mark that this search started on the default search category.
        (used to deside whether to show category picker)
    {%- endcomment -%}
    {%- assign query_string = "?n=1" -%}
{%- endif -%}

{%- comment -%} Get the HTML for the options {%- endcomment -%}
{%- assign has_options = false -%}
{%- capture options -%}
    {%- comment -%} %- assign categories =  site.data.default_category | concat: site.data.shop_categories -%}{%- endcomment -%} 
    {%- for shop_category in site.data.shop_categories -%}
        {%- include partial/get-filter-page.html key='"category"' old_value=page.filter_object.category new_value=shop_category.name filter=page.filter -%}
        {%- if filter_page.page1results.size != 0 and filter_page.permalink != page.permalink and filter_page.permalink != nil -%}
            <li><a href="/{{ filter_page.permalink }}{{query_string}}">
                {{ shop_category.name }}
            </a></li>
            {%- assign has_options = true -%}
        {%- endif -%}
    {%- endfor -%}
{%- endcapture -%}

{%- comment -%} Output the filter HTML {%- endcomment -%}
<li class="filter category expanded {{has_value_class}}{%- if has_options == false %} empty{%- endif -%}" {%- if category.name != site.data.default_category.name -%}style="display: none"{%- endif -%}>
    <div class="filter-label">
        <span class="name">
            <span class="emoji">⭐️</span> {{ site.data.localization.category }}
        </span>
        {% if value != '' %}
            <a href="/{{clear_url}}{{query_string}}" class="clear" data-text="{{ site.data.localization.clear }}">{%- include partial/icon.html icon="clear" -%}</a>
            <span class="value">{{ value }}</span>
        {% endif %}
    </div>
    <ul class="filter-options">{{options}}</ul>
</li>

{%- comment -%}
    Generating the subcategory filter
{%- endcomment -%}

{%- comment -%} Default values if empty {%- endcomment -%}
{%- assign has_value_class = "" -%}
{%- assign clear_url = "" -%}
{%- assign value = '' -%}

{%- comment -%} If filter isnt empty, replace the default values {%- endcomment -%}
{%- if page.subcategory != nil -%}
    {%- include partial/get-filter-page.html key='"category"' old_value=page.subcategory new_value=page.category filter=page.filter -%}
    {%- assign has_value_class = "has-value" -%}
    {%- assign clear_url = filter_page.permalink -%}
    {%- assign value = page.subcategory -%}
{%- endif -%}

{%- comment -%} Get the HTML for the options {%- endcomment -%}
{%- assign has_options = false -%}
{%- capture options -%}
    {%- assign subcategories =  category_array | concat: category.subcategories -%}
    {%- for subcategory in subcategories -%}
        {%- if page.subcategory != nil -%}
            {%- assign current_value = page.subcategory -%}
        {%- else -%}
            {%- assign current_value = page.category -%}
        {%- endif -%}
        {%- include partial/get-filter-page.html key='"category"' old_value=current_value new_value=subcategory.name filter=page.filter -%}
        {%- if filter_page.page1results.size != 0 and filter_page.permalink != page.permalink -%}
            <li><a href="/{{ filter_page.permalink }}{{query_string}}">
                {%- if subcategory.name != category.name -%} {{ subcategory.name }}
                {%- else -%}{{site.data.localization.all | capitalize}} {{ category.name }}
                {%endif%}
            </a></li>
            {%- assign has_options = true -%}
        {%- endif -%}
    {%- endfor -%}
{%- endcapture -%}

{%- comment -%} Output the filter HTML {%- endcomment -%}
<li class="filter subcategory expanded {{has_value_class}}{%- if has_options == false %} empty{%- endif -%}">
    <div class="filter-label">
        <span class="name">
            <span class="emoji">✨</span> {{ site.data.localization.subcategory }}
        </span>
        {% if value != '' %}
            <a href="/{{clear_url}}{{query_string}}" class="clear" data-text="{{ site.data.localization.clear }}">{%- include partial/icon.html icon="clear" -%}</a>
            <span class="value">{{ value }}</span>
        {% endif %}
    </div>
    <ul class="filter-options">{{options}}</ul>
</li>