<a href="{{ post.url }}" class="article-tile {%- if include.isFeatured == true %} featured{% endif %}" style="background: {{ include.post.featured-color }}">
    {% if include.isFeatured == true %}
        {%- include partial/picture.html image=include.post.featured-image.landscape alt=include.post.featuared-image.square-alt %}
    {% endif %}
    {%- include partial/picture.html image=include.post.featured-image.square alt=include.post.featured-image.square-alt %}
    <div class="information">
        <span class="tag">{{ include.post.categories }}</span>
        <h3>{{ include.post.title }}</h3>
        <span class="author">
            {%if include.post.editor-%}{{ site.data.localization.writtenBy}}{%else%}{{ site.data.localization.by }}{% endif %}: <strong itemprop="name">{{ include.post.author }}</strong> {%if include.post.editor-%} &nbsp; {{- site.data.localization.editedBy }}: <strong>{{ include.post.editor }}</strong>{%- endif %}
        </span>
        <time class="time-since-published" itemprop="datePublished" datetime="{{include.post.date | date: "%Y-%m-%d %H:%M"}}"></time>
    </div>
</a>